# Default ignored files
/shelf/
/workspace.xml

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
gradle-app.setting

# Local configuration
local.properties
**/build/
.cxx/
out/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws

# Logs
*.log

# Android specific
captures/
.externalNativeBuild/

# Keystore files
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db

# Kotlin DSL build cache
**/.gradle/
